.right-sidebar {
    position: fixed;
    /* border-left: 1px solid red; */
    top: 47px;
    bottom: 0;
    right: 0;
    width: 270px;
    overflow: auto;
    scrollbar-color: transparent transparent;
}

.right-sidebar:hover {
    scrollbar-color: rgb(149, 147, 147, 0.6) transparent;
}

.right-sidebar-ads-section {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 330px;
    border-bottom: 1px solid gray;
    margin: 15px 5px 0 5px;
    padding-bottom: 10px;
    color: rgb(184, 179, 179);
    font-weight: 600;
    font-size: 14px;
}

.right-sidebar-ads {
    flex: 1;
    /* border: 1px solid green; */
    padding: 5px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
}

.right-sidebar-ads:hover {
    background-color: rgb(59, 58, 58);
}

.right-sidebar-ads img {
    height: 100%;
    width: 50%;
    border-radius: 8px;
    object-fit: cover;
}

.group-ads-text {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.ads-text {
    color: rgb(229, 227, 227);
    font-size: 11px;
}

.ads-website {
    font-size: 10px;
}

.right-sidebar-friends {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
}

.right-sidebar-groups {
    display: flex;
    flex-direction: column;
}

.friend, .group {
    display: flex;
    align-items: center;
    color: rgb(229, 227, 227);
    column-gap: 10px;
    padding: 5px;
    font-size: 13px;
    border-radius: 7px;
}

.friend:hover, .group:hover {
    background: rgba(69, 69, 69, 0.8);
}

.friend img, .group img {
    height: 28px;
    width: 28px;
    object-fit: cover;
    border-radius: 14px;
}

.friend-profile-picture, .group-profile-picture {
    position: relative;
}

.green-circle {
    position: absolute;
    bottom: 2px;
    right: 2px;
    height: 5px;
    width: 5px;
    background-color: rgb(33, 189, 33);
    border-radius: 4.5px;
    border: 2px solid var(--body-background-color);
}

.right-sidebar-friends-text, .right-sidebar-groups-text {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 5px;
    color: rgb(184, 179, 179); 
    font-weight: bold;
    font-size: 14px;
}

.right-sidebar-friends-image {
    display: flex;
    column-gap: 13px;
    align-items: center;
}

.right-sidebar-search-2-image {
    height: 20px;
    width: 20px;
}

.right-sidebar-search-2-button {
    border-radius: 21px;
    padding: 1px 4px 1px 4px;
    border: none;
    background: var(--body-background-color);
    cursor: pointer;
}

.right-sidebar-post-setting-2-button {
    padding: 1px 2px 9px 2px;
    border-radius: 20px;
    border: none;
    background: var(--body-background-color);
    cursor: pointer;
}

.right-sidebar-search-2-button:hover, .right-sidebar-post-setting-2-button:hover {
    background: rgb(93, 93, 93);
}

.right-sidebar-post-setting-2-image {
    width: 20px;
}